{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="span10 offset1">
        <h1>All Users <small>sorted by checkins</small></h1>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Checkins</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <td><a href="/users/{{ u._id }}">{{ u.firstname }} {{ u.lastname }}</a></td>
                        <td>{{ u.checkins }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="span4 offset4">
        <ul class="pager">
            {% if skip == 0 %}
                <li class="previous disabled"><a href="#">&larr; Previous</a></li>
            {% else %}
                <li class="previous"><a href="/users/all?skip={{ skip - 10}}">&larr; Previous</a></li>
            {% endif %}
            {% if skip+10 >= count %}
                <li class="next disabled"><a href="#">&rarr; Next</a></li>
            {% else %}
                <li class="next"><a href="/users/all?skip={{ skip + 10}}">&rarr; Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock body %}